/* src/styles/Result.css */
.result-container {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.90);
    background: linear-gradient(135deg, rgba(255, 255, 205, 0.1), rgba(255, 255, 255, 0));
    padding: 20px;
    text-align: center;
}

.result-container h1 {
    color: #333;
    margin-bottom: 20px;
}

.result-container p {
    font-size: 25px;
    color:red;
    margin-bottom: 20px;
    font-weight: 900;
}

.result-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result-container button:hover {
    background-color: #0056b3;
}